<%= form_with(model: [@category, task]) do |form| %>
    <% if task.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
  
        <ul class='form-errors'>
          <% task.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div>
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name, maxlength: 30, autocomplete: 'off'  %>
    </div>
  
    <div>
      <%= form.label :details, style: "display: block" %>
      <%= form.text_area :details, maxlength: 335, rows: 6, autocomplete: 'off' %>
    </div>

    <div>
      <%= form.label :deadline, style: "display: block" %>
      <%= form.date_field :deadline %>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
  <% end %>