<%= render "nav" %>
<h1 class='title'><%= @category.name %></h1>
<h1 class='title'>Tasks</h1>

<div id="tasks">
  <% @tasks.each do |task| %>
    <%= render task %>
    <p>
      <%= link_to "Show this task", category_task_path(@category, task) %>
    </p>
  <% end %>
</div>

<%= link_to "New task", new_category_task_path %>