<%= render "nav" %>
<p style="color: green"><%= notice %></p>
<section>
<div class='show-container'>
<%= render @task %>

<div class='edit-container'>
  <%= link_to "Edit Task", edit_category_task_path(@task), class:'edit-link' %>
  <%= button_to "Destroy Task", delete_category_task_path(@task), method: :delete, class: 'edit-button' %>
  <%= link_to "Back to tasks", category_tasks_path, class:'edit-link' %>
</div>
</div>
</section>