<%= render "nav" %>
<section>
<div class='show-container'>
<%= render @category %>

<div class='show-edit-container'>
  <%= link_to "Edit Category", edit_category_path(@category), class: 'edit-link' %>
  <%= button_to "Destroy Category", @category, method: :delete, class: 'delete-button' %>
  <%= link_to "Show Tasks", category_tasks_path(@category), class: 'edit-link' %>
</div>

</div>
</section>