<%= render "nav" %>
<p style="color: green"><%= notice %></p>
<section>
<div class='container'>
<%= render @category %>

<div class='edit-category'>
  <%= link_to "Edit this category", edit_category_path(@category) %> |
  <%= link_to "Back to categories", categories_path %> |
  <%= button_to "Destroy this category", @category, method: :delete %>
</div>
</div>
</section>